/* music.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header {
    background-color: #008080; /* Dark cyan */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

.section h2 {
    color: #008080; /* Dark cyan */
}

.section p {
    text-align: justify;
}

.section a {
    color: #0077cc; /* Blue */
}

.section a:hover {
    color: #004466; /* Darker blue on hover */
}
